/* ---------------- GENERAL -------------------- */
*{
    box-sizing: border-box;

}
*::selection{
    color:#fff;
    background: #000;
}
body{
    position: relative;
    height: 100%;
    min-height: 93vh;
    overflow-x: hidden;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Yeseva One', cursive;
    padding-bottom: 65px;

}
body::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
    color: #000;
}

.home-footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    z-index: 100;
}
.home-footer a{
    padding-left: 25px;
    font-size: 40px;
    text-shadow: 0 0 5px #444;
}
.home-footer a:hover{
    text-shadow: 0 0 5px #222;
}
.home-footer p{
    text-align: left;
    position: absolute;
    bottom: 0px;
    left: 5px;
}
/*
   -------------------- NAVBAR---------------------
*/
.nav__responsive-ul{
    display: none;    

}
.nav{
    z-index: 90;
    background-color: #121216;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 2px 0px #313131;
}
.nav__li{
    display: inline-block;
    padding: 12px;
    transition: all .15s;
}
.nav__li:hover{
    background-color: #212126;
}
.nav__ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav__li a{
    text-shadow: 0 0 25px #fff;
    color: #fff;
    box-sizing: border-box;
}

.nav__li i{
    padding: 4px;
    text-shadow: 0 0 25px #fff;
    color: #fff;
    text-align: center;
    width: 30px;
}
.nav__logo{
    position: fixed;
    color: #fff;
    font-size: 30px;
    text-shadow: 0 0 10px #eee;
    top:9px;
    right: 14px;
    z-index: 100;
    width: 27px;
    opacity: .85;
}
/*
  ---------------------------HEADERS--------------------------------- 
*/
.title{
    z-index: 50;
    font-family: 'MonteCarlo', cursive; 
    color: #151111;
    position: relative;
    display: block;
    text-align: center;
    font-size: 3em;
    text-shadow: 0 3px 5px #4449;
}

/*
    ----------------------- CONTENT  ---------------------------------
    ------------------------------------------------------------------
*/

/*  -------------- HOME --------------  */
#home__body{
    min-height: 88.5vh;
}
.home__container{
    display: block;
    text-align: center;
    position: relative;
    top: 85px;
}
.home__container h6{
    box-sizing: border-box;
    position: relative;
    font-family: 'MonteCarlo', cursive; 
    font-size: 2em !important;
    text-shadow: 0 3px 5px #4448;
    left: 23%;
    top: -100px;
    width: 50%;
}
#home__title{
    font-size: 5em;
}
.img__container{
    z-index: 15;
    display: inline-block;
    position: absolute;
    left: 75%;
    top: 175px;
}
.img__container img{
    width: 300px;
    top: 0;
}
.home__container h6{
    box-sizing: border-box;
    font-size: 1.2em;
    text-align: left;
}

/*------------ MAPA ------------*/
.map-container{
    position: absolute;
    display: block;
    text-align: right;
    /*margin-right: 100px;
    margin-top: -40px;*/
    text-align: center;
    position: relative;
    
}
.map-container img{
    box-sizing: border-box;
    width: 1280px;
    box-shadow: 0 0 15px 0 #222;
    border-radius: 7px;
    transition: all .4s;
}
.map-container img:hover{
    box-shadow: 0 0 20px #000;
}
.map-list{
    display: block;
    position: relative;
    margin: auto;
    top: 35px;
    background-color: #aaa7;
    width: 500px;
    height: 700px;
    border-radius: 5px;
    box-shadow: 0 0 15px #333;
    overflow: auto;
}
.map-list::-webkit-scrollbar{
    display: none;
}
.map-list h4{
    text-align: center;
    text-shadow: 0 3px 5px #777;
    font-size: 1.4em;
    margin-top: 12px;
}
.map-list__ul{
    list-style: none;
    padding-left: 25px;
}
.map-list__li{
    padding: 10px;
    font-size: 1.6em;
    text-shadow: 0 0 10px #555;
}
.map-list__li:hover{
    background-color: #bbb7;
    border-radius: 5px;
    font-size: 1.7em;
    text-shadow: 0 0 15px #111;
    width: 90%;
    cursor: pointer;
}
.map-list__li i{
    padding: 5px;
}
/*  ----------------- PERSONAJES ---------------- */
.pj-responsive{
    display: none;
}
.pj{
    position: relative;
    margin: 0 auto;
    padding: 4px;
    width: 600px;
    height: 600px;
    background-color: #aaa7;
    border-radius: 7px;
    box-shadow: 0 0 15px 0 #444;
}
.pj__ul{
    list-style-type: none;
    text-shadow: 0 0 15px #444;
}
.pj__ul i{
    padding-right: 10px;
}
.pj__li{
    font-size: 1.5em;
    padding: 5px;
    text-align: left;
}
.pj__li:hover{
    cursor: pointer;
    font-size: 1.6em;
    background-color: #eee5;
    border-radius: 7px;
    text-shadow: 0 0 15px #111;
}
.pj__li a{
    color: #111;
}
.pj h4{
    text-align: center;
    text-shadow: 0 3px 5px #777;
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 12px;
}
.pj_banner{
    z-index: 50;
    color: #eee;
    position: sticky;
    font-size: 1.8em;
    text-align: left;
    padding-left: 20px;
    line-height: 60px;
    left: 0;
    top:42px;
    width: 100%;
    background-image: linear-gradient(to right,#161616, #454545);
}
.pj_up{
    z-index: 80;
    position: sticky;
    text-align: right;
    margin-right: 15px;
    font-size: 1.5em;
    top:55px;
}
.pj_up i{
    font-size: 1.6em;
    color: #eee;
    text-shadow: 0 0 5px #fff;
    transition: all .5s;

}
.pj_up i:hover{
    text-shadow: 0 0 20px #222;
}
.lala{
    font-size: 4em;
}
/*  ----------------------- HISTORIA -----------------------------*/ 
.indice{
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 575px;
    background-color: #aaa7;
    border-radius: 7px;
    box-shadow: 0 0 15px 0 #444;
    padding: 15px;
}
.indice__ol{
    text-shadow: 0 0 15px #ccc;
}
.indice__li{
    font-size: 1.5em;
    padding: 5px;
    text-align: left;
    text-align: center;

}
.indice__li:hover{
    cursor: pointer;
    font-size: 1.6em;
    background-color: #eee5;
    border-radius: 7px;
    text-shadow: 0 0 15px #111;
}
.indice h4{
    text-align: center;
    text-shadow: 0 3px 5px #777;
    font-size: 1.4em;
    margin-top: 12px;
}

