/* ---------------- GENERAL -------------------- */
*{
    box-sizing: border-box;

}
*::selection{
    color:#ccc;
    background: #000b;
}
body{
    position: relative;
    height: 100%;
    min-height: 93vh;
    overflow-x: hidden;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Yeseva One', cursive;
    padding-bottom: 65px;

}
body::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
    color: #000;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff1e;
  }
.home-footer{
    opacity: .8;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    z-index: 100;
}
.home-footer a{
    padding-left: 25px;
    font-size: 40px;
    text-shadow: 0 0 5px #444;
}
.home-footer a:hover{
    text-shadow: 0 0 7px #333;
}
/*
   -------------------- NAVBAR---------------------
*/
.nav__responsive-ul{
    display: none;    

}
.nav{
    z-index: 90;
    background-color: #121212;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 2px 0px #313131;
}
.nav__li{
    display: inline-block;
    padding: 12px;
    transition: all .15s;
}
.nav__li:hover{
    background-color: #212126;
}

.nav__ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav__li a{
    color: #fff;
    box-sizing: border-box;
    text-shadow: 0 0 25px #eeea;

}

.nav__li i{
    padding: 4px;
    color: #fff;
    text-align: center;
    width: 30px;

}
.nav__logo{
    position: fixed;
    top:9px;
    right: 14px;
    z-index: 100;
    width: 28px;
}

/*
  ---------------------------HEADERS--------------------------------- 
*/
.title{
    z-index: 50;
    font-family: 'MonteCarlo', cursive; 
    color: #151111;
    position: relative;
    display: block;
    text-align: center;
    font-size: 3em;
    text-shadow: 0 3px 5px #4449;
}

/*
    ----------------------- CONTENT  ---------------------------------
    ------------------------------------------------------------------
*/

/*  -------------- HOME --------------  */
#home__body{
    min-height: 88.5vh;
}
.home__container{
    z-index: 100;
    display: block;
    text-align: center;
    position: relative;
    top: 85px;
}
.home__container h6{
    z-index: 150;
    box-sizing: border-box;
    position: relative;
    font-family: 'MonteCarlo', cursive; 
    font-size: 2em !important;
    text-shadow: 0 3px 5px #4448;
    left: 23%;
    top: -100px;
    width: 50%;
}
#home__title{
    font-size: 5em;
}
.img__container{
    z-index: 15;
    display: inline-block;
    position: absolute;
    left: 75%;
    top: 175px;
}
.img__container img{
    width: 300px;
    top: 0;
}
.home__container h6{
    box-sizing: border-box;
    font-size: 1.2em;
    text-align: left;
    color: #151111;
}

/*------------ MAPA ------------*/
.map-container{
    position: absolute;
    display: block;
    text-align: right;
    text-align: center;
    position: relative;
}
.map-container img{
    box-sizing: border-box;
    width: 75%;
    box-shadow: 0 0 15px 0 #222;
    border-radius: 7px;
    transition: all .4s;
}

.map-list{
    display: block;
    position: relative;
    margin: auto;
    top: 35px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    width: 500px;
    height: 700px;
    border-radius: 5px;
    box-shadow: 0 0 15px #333;
    overflow: auto;
}
.map-list::-webkit-scrollbar{
    display: none;
}
.map-list h4{
    text-align: center;
    text-shadow: 0 3px 5px #777;
    font-size: 1.4em;
    margin-top: 12px;
}
.map-list__ul{
    list-style: none;
    padding-left: 25px;
}
.map-list__li{
    padding: 10px;
    font-size: 1.6em;
    text-shadow: 0 0 10px #555;
}
.map-list__li:hover{
    background-color: #bbb7;
    border-radius: 5px;
    font-size: 1.7em;
    text-shadow: 0 0 15px #111;
    width: 90%;
    cursor: pointer;
}
.map-list__li i{
    padding: 5px;
}
.map-list__li a{
    display: inline-block;
    width:440px ;
}
/*  ----------------- PERSONAJES ---------------- */
.pj-responsive{
    display: none;
}
.pj{
    position: relative;
    margin: 0 auto;
    padding: 4px;
    width: 600px;
    height: 600px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 7px;
    box-shadow: 0 0 15px 0 #444;

}
.pj__ul{
    list-style-type: none;
    text-shadow: 0 0 15px #444;
}
.pj__ul i{
    padding-right: 10px;
    display: inline-block;
}
.pj__li{
    font-size: 1.5em;
    padding: 5px;
    text-align: left;
}
.pj__li:hover{
    cursor: pointer;
    font-size: 1.6em;
    background-color: #eee5;
    border-radius: 7px;
    text-shadow: 0 0 15px #111;
}
.pj__li a{
    display: inline-block;
    width: 540px;
}
.pj h4{
    text-align: center;
    text-shadow: 0 3px 5px #777;
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 12px;
}
.pj_banner{
    z-index: 50;
    color: #eee;
    position: sticky;
    font-size: 1.8em;
    text-align: left;
    padding-left: 20px;
    line-height: 60px;
    left: 0;
    top:42px;
    width: 100%;
    background-image: linear-gradient(to right,#151515, #252525);
}
.pj_up{
    z-index: 80;
    position: sticky;
    text-align: right;
    margin-right: 15px;
    font-size: 1.5em;
    top:55px;
}
.pj_up i{
    font-size: 1.6em;
    color: #eee;
    text-shadow: 0 0 5px #fff;
    transition: all .2s;

}
.pj_up i:hover{
    text-shadow: 0 0 20px #777;
}

.lala{
    font-size: 4em;
}
/*  ----------------------- HISTORIA -----------------------------*/ 
.indice{
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 575px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 7px;
    box-shadow: 0 0 15px 0 #444;
    padding: 15px;
}
.indice__ol{
    text-shadow: 0 0 15px #333;
}
.indice__li{
    font-size: 1.5em;
    padding: 5px;
    text-align: left;
    text-align: center;

}
.indice__li a{
    display: inline-block;
    width: 510px;
}
.indice__li:hover{
    cursor: pointer;
    font-size: 1.6em;
    background-color: #eee5;
    border-radius: 7px;
    text-shadow: 0 0 15px #3338;
}
.indice h4{
    text-align: center;
    text-shadow: 0 3px 5px #777;
    font-size: 1.4em;
    margin-top: 12px;
}
/*--------------------ALQUIMIA-----------------------*/
.alquimia__p{
    color: #111;
    position: relative;
    margin: 50px;
    font-size: 2em;
    text-shadow: 0 0 3px #333;
}
.alquimia__p::first-letter{
    font-size: 1.7em;
}
.alquimia__indice{
    display: block;
    position: relative;
    margin: auto;
    top: 35px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    width: 400px;
    height: 260px;
    border-radius: 5px;
    box-shadow: 0 0 15px #333;
    overflow: auto;
    margin-bottom: 100px;
}
.alquimia__indice__li a{
    display: inline-block;
    width: 300px;
}
.alquimia__indice__ul{
    list-style-type: none;
}
.alquimia__indice__li{
    font-size: 1.5em;
    text-align: left;
    padding: 5px;
    text-shadow: 0 0 3px #333;
}
.alquimia__indice__li:hover{
    cursor: pointer;
    font-size: 1.6em;
    background-color: #eee5;
    border-radius: 7px;
    text-shadow: 0 0 15px #3338;
}
.alquimia__indice h4{
    text-align: center;
    text-shadow: 0 3px 5px #444a;
    font-size: 1.6em;
    margin-top: 20px;
}
.alquimia__indice__li i{
    padding-right: 10px;
}
.alquimia__container{
    display: block;
    width: 95%;
    height: 450px;
    margin: auto;
    margin-bottom: 100px;
    background-color: #ffffff10;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px #333;
    border-radius: 4px;

}
.alquimia__table{
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    width: 900px;
    height: 405px;
    margin-left: 5%;
    text-shadow: 0 0 3px #333;
    border-radius: 4px;
    margin-bottom: 120px;
}
.alquimia__table2{
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    width: 700px;
    text-shadow: 0 0 3px #333;
    border-radius: 4px;
    margin-bottom: 120px;
    margin-left: 5%;
}

.alquimia__table i,
.alquimia__table2 i{
    padding:10px ;
}
.alquimia__table h4,
.alquimia__table2 h4{
    text-align: center;
    text-shadow: 0 3px 5px #444;
    font-size: 1.4em;
}
.pocion__box{
    width: 95%;
    margin-left: 50px;
    background-color: #ffffff20;

}
.pocion__box h3{
    padding: 7px;
    font-size: 2.3em;
    color: #111;
    text-shadow: 0 0 5px #333;
}
.pocion__box p{
    font-size: 1.7em;
    color: #111;
    text-shadow: 2px 2px 5px #444;
    padding-left: 25px;
    padding-bottom: 25px;

}
.pocion__box span{
    font-size: .8em;
}

